@charset "utf-8";
/* CSS Document */
body,div,p,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,td,table,input,fieldset,form{
    padding:0;
    margin:0;
}
body{
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    background: #4e657a;
}
a{
    display: flex;
    text-decoration:none;
}
img{
    display: block;
    border:0;
}
li{
    list-style:none;
}
input,select,textarea{
    border: none;
}
button{
    outline: none;
}
input,textarea{
    outline-color:#7c95ad;
}
select{
    outline-width: 3px;
    outline-color: #628db8;
}


/* header */
header{
    /* padding:0 80px; */
    height: 100px;
    background: #567086;
}
.header{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header>a{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.header>a:nth-child(1){
    padding-right: 16px;
    letter-spacing: -.5px;
}
.header>a:nth-child(3){
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    align-items: center;
    padding:0 28px;
    transition: all 0.3s ease;
}
.header>a:nth-child(3):hover{
    color: #f5a623;
}
.hea_center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}
.hea_center>a,.samea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 28px;
    color: #fff;
}
.samea{
    position: relative;
    cursor: pointer;
}
.hea_center a:hover{
    color: #f5a623;
}
.hea_center .samea:hover{
    color: #f5a623;
}
.hea_center .iconfont{
    font-size: 28px;
    line-height: 1;
    padding-bottom: 12px;
}
.hea_center p{
    font-size: 15px;
    line-height: 1;
    display: flex;
    align-items: center;
}
.hea_center p .iconfont{
    font-size: 15px;
    line-height: 1;
    padding-bottom: 0;
}
.hea_center>a:nth-child(3){
    background: #f5a623;
    color: #fff;
}
.hea_center>a:nth-child(3):hover{
    color: #fff;
}
.show{
    position: absolute;
    left: 0;
    top: 100%;
    width: 150px;
    padding:11px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #567086;
    display: none;
}
.show a{
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    padding: 15px 0;
    justify-content: center;
}
/* hea_right */
.hea_right{
    position: relative;
}
.hea_right>.iconfont{
    font-size: 22px;
    color: white;
    padding:9px 13px;
    border: 1px solid #708da8;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 2px;
    transition: all 0.2s ease;
}
.hea_right>.iconfont:hover{
    border-color: #f5a623;
    color: #f5a623;
}
.same_center{
    display: none;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 1px;
    position: absolute;
    top: 36px;
    right: 15px;
    width: 200px;
    z-index: 2;
    background-color: #567086;
}
.same_center a,.same_center .samea_up{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    padding: 15px;
}
.same_center a>.iconfont,.same_center .samea_up>.iconfont{
    font-size: 22px;
    padding-right: 10px;
    line-height: 1;
}
.show_1{
    width: 200px;
    padding: 10px 0;
    display: none;
}
.show_1 a{
    padding: 15px;
}
.samea_up:hover,.same_center a:hover{
    transition: all 0.2s ease;
    color: #f5a623;
}




/* big_blue */
.big_blue{
    margin: 57px auto 60px;
    width: 1140px;
    padding: 0 15px;
    box-sizing: border-box;
}
.big_again{
    width: 75%;
    padding: 0 4px;
    margin: 0 auto;
    box-sizing: border-box;
}
.big_son{
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-color: #435c70;
}
.big_h2{
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 30px;
}

/* big_down */
.big_down{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.down_left,.down_right{
    box-sizing: border-box;
    width: 50%;
}
.down_left{
    padding-right:15px;
}
.form_01{
    margin-bottom:16px;
}
.form_01 label{
    display: inline-block;    
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}
.left_input{
    width: 100%;
    height: 50px;
    padding: 19px 18px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;    
    font-family: inherit;
    background-color: #54657d;

}
#input_02{
    font-size: 90%;
}
#input_03{
    padding: 6px 12px;
    color: #acc6de;
}
.padd_1,.padd_2{
    width: 50%;
    box-sizing: border-box;
}
.padd_1{
    padding-right: 15px;
}
.padd_2{
    padding-left: 15px;
}
.form_01 textarea{
    height: auto;
    overflow: auto;
}
.form_02{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.down_right{
    padding-left: 15px;
    box-sizing: 15px;
    margin-bottom: 24px; 
}
.right_back{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #aaa;
}
.right_back .iconfont{
    width: 55px;
    height: 55px;
    padding-top: 11px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #455c71;
}
.right_back img{
    width: 100%;
    height: 100%;
}
.right_input{
    margin-top: 16px;
}
.btn{
    width: 100%;
    padding: 13px 28px;
    box-sizing: border-box;
    background-color: #f5a623;
    border: 2px solid #f5a623;
    text-align: center;
    cursor: default;
    font-size: 90%;
    color: #fff;
    line-height: 1.5;
    font-weight: 600;
    transition: all 0.2s ease;
}
/* big_last */
.big_last{
    width: 100%;
}
.btn:hover{
    background: transparent;
}




/* footer */
footer{
    background-color: #567086;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    box-shadow: 0 -3px 5px 0 rgba(69, 92, 113, 0.59);
}
footer p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:0 1.5rem;
    text-align: center;
    font-size: 13px;
    color:#fff;
    line-height: 1.5;
}
footer a{
    color: #007bff;    
    transition: all 0.3s ease;
}
footer a:hover{
    color: #0056b3;
}


/* scroll */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #6d8da6;
}
::-webkit-scrollbar-track {
    background: #394f62;
}



/* 响应式 */
@media screen and (min-width:1200px){
    .hea_right{
        display: none;
    }
    .header{
        width: 1140px;
    }
}
@media screen and (max-width:1200px){
    .hea_center,.header>a:nth-child(3){
        display: none;
    }
    .big_again{
        padding: 0 2.5px;
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    .header,.big_blue{
        width: 960px;
    }
    .big_again{
        width: 83.3333333%;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .header,.big_blue{
        width: 720px;
    }
}
@media screen and (max-width:992px){
    .big_again{
        width: 100%;
        padding: 0;
    }
    .big_son{
        padding: 30px;
    }
    .down_left,.down_right{
        width: 100%;
        padding: 0;
    }
}
@media screen and (min-width:576px) and (max-width:768px){
    .header,.big_blue{
        width: 540px;
    }
}
@media screen and (max-width:480px){
    .big_blue{
        margin: 45px 0;
    }
}
@media screen and (max-width:576px){
    header{
        height: 50px;
    }
    .header,.big_blue{
        width: 100%;
    }
    .header>a:first-child{
        font-size: 1.4rem;
        margin-left: 7px;
    }
    .padd_1,.padd_2{
        width: 100%;
        padding: 0;
    }
}